.routes {
    &__grey-container{
        margin: 50px;
        border: 1px solid #e4e4e4;
        border-radius: 6px;
    }
    
    &__grey-container-mobile {
        margin: 10px;
        border: 1px solid #e4e4e4;
        border-radius: 6px;
    }
}